<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quickride">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".auth.RoleSelectionActivity"
            android:exported="false" />
        <!-- Launcher Activity -->
        <activity
            android:name=".auth.LauncherActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.AuthenticationActivity" />
        <activity android:name=".auth.DetailsActivity" />
        <activity android:name=".customer.CustomerMapActivity" />
        <activity android:name=".customer.CustomerSettingsActivity" />
        <activity android:name=".driver.DriverMapActivity" />
        <activity android:name=".driver.DriverSettingsActivity" />
        <activity android:name=".driver.DriverChooseTypeActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".history.HistorySingleActivity" />
        <activity android:name=".payment.PaymentActivity" />
        <activity android:name=".payment.AddPaymentActivity" />
        <activity android:name=".payment.PayoutActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>